<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Projeto AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="mainController">
    <nav>
        <img src="/img/Logo AutomaçãoDoc.png" alt="Logo AutomaçãoDoc">
        <ul class="menu">
            <li><a href="#" ng-click="changePage('home')">Home</a></li>
            <li><a href="#" ng-click="changePage('banca')">Banca</a></li>
            <li><a href="#" ng-click="changePage('docente')">Docente</a></li>
            <li><a href="#" ng-click="changePage('discente')">Discente</a></li>
        </ul>
    </nav>
    <div ng-include="currentPage"></div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('mainController', function($scope) {
            $scope.currentPage = 'home';

            $scope.changePage = function(page) {
                $scope.currentPage = page + '.html';
            };
        });
    </script>
</body>
</html>
